body{
    background: linear-gradient(45deg, white, rgba(1, 158, 158, 0.774));
    background-size: cover;
    
}
.game-card {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px rgba(5, 40, 135, 0.423);
}
.btn.btn-link{
    text-decoration: none;
    color: black;

}
.btn.btn-link:hover{
    text-shadow: 1px 1px 1px rgb(5, 40, 135);
    background-color: rgba(0, 0, 0, 0.08);
}

#min-number:hover, #max-number:hover {
    text-shadow: 1px 1px 1px rgb(5, 40, 135);
    background-color: rgba(0, 0, 0, 0.08);   
}
.m-0{
    user-select: none;
}
.back-to-main{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-shadow: 1px 1px 1px rgba(5, 40, 135, 0.423);
    height: 30px;
    width: 150px;
    justify-content:center;
    border-radius: 5%;
    background-color: rgba(236, 79, 241, 0.179);
    box-shadow: 4px 4px 4px rgba(34, 0, 255, 0.309);
    border: 2px ridge rgba(230, 65, 208, 0.6);
    text-decoration: none;
    
}
.back-to-main:hover{
    text-shadow: 1px 1px 1px rgb(4, 19, 60);
    background-color: rgba(79, 79, 79, 0.207);
    text-decoration: none;
}